# Dependencies
node_modules/
.pnpm-store/

# Env files
.env
.env.*
!.env.example

# Build / cache
dist/
build/
.next/
.out/
coverage/
.tmp/
.cache/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma / DB
*.db
*.sqlite
*.sqlite3

# Docker
docker-data/
